body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../static/cyberground.png') no-repeat center center;
    background-size: cover;
}

.large-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.bottom-panel {
    position: absolute;
    bottom: -100px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.5s ease, opacity 1s ease-in-out;
    opacity: 0; /* Начальная прозрачность */
}

.bottom-panel.show {
    bottom: 0;
    opacity: 1;
}

.bottom-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.icon {
    font-size: 14px;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    background-color: #0154BA;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.5s ease-in-out, background-color 1.2s ease;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); /* Красная тень */
}

.toggle-button:focus {
    outline: none;
}

.toggle-button.active {
    background-color: #750B63;
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.7); /* Синяя тень */
}

.info-header {
    position: absolute;
    top: -100px; /* Скрыт в начале */
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease-in-out, opacity 1s ease-in-out;
    color: white;
    text-align: center;
    opacity: 0; /* Прозрачность в начале */
}

.info-header.show {
    top: 0; /* Показывать, когда активен */
    opacity: 1; /* Прозрачность */
}

.info-slide {
    padding: 15px;
    font-size: 16px;
}

.info-slide div {
    padding: 7px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.info-slide2 {
    font-size: 18px;
}

.section {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.section.active {
    display: block;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: rgba(55, 55, 55, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    z-index: 1000; /* Добавьте z-index */
}

.back-button:focus {
    outline: none;
}

.tasks-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8); /* Увеличение непрозрачности */
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.tasks-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasks-list li {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1); /* Более непрозрачный фон для заданий */
    padding: 15px;
    border-radius: 10px;
}

.leaderboards-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8); /* Увеличение непрозрачности */
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    overflow-y: auto; /* Добавляем прокрутку для длинных списков */
}

.leaderboards-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leaderboards-list li {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1); /* Более непрозрачный фон для элементов списка */
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.leaderboard-header {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2); /* Больше непрозрачности для заголовка */
}

.leaderboard-header span {
    flex: 1;
    text-align: center;
}

.settings-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8); /* Увеличение непрозрачности */
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    overflow-y: auto; /* Добавляем прокрутку для длинных списков */
}

.user-info {
    padding-top: 15px;
}

.username {
    font-size: 20px;
    font-weight: bold;
}

.connect-wallet-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-details {
    margin-top: 20px;
}

.user-details div {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.user-info-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1000; /* Ensure it appears above other content */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.settings-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8); /* Увеличение непрозрачности */
    color: white;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#settingsSection .settings-content {
    position: absolute;
    top: 50px; /* Отступ, чтобы не перекрывать заголовок */
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: calc(100% - 100px); /* Учитываем высоту заголовка и нижнего блока */
    background-color: rgba(0, 0, 0, 0.8); /* Увеличение непрозрачности */
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    overflow-y: auto; /* Добавляем прокрутку для длинных списков */
}
